<div class="main">




<h1>
    Skandagiri: A Night Trek For All Stargazers And Adventure Seekers!
</h1>
<br>


<div class="img1">
    <img src="../../../assets/shead.jpg" alt="">
</div>
<br>

<p>
    Skandagiri Hills, or Kalavara Durga is a famous mountain fortress located about 62 kms from Bangalore in the state
    of Karnataka. With the advancement of technology and internet, Skandagiri Hills in Bangalore have garnered thousands
    of admirers throughout the world. The distance from Skandagiri to Nandi Hills is about 19 km and it may take up to
    20 minutes to travel by car.

    Trekking in Skandagiri Hills

    Bangalore is known for several trekking options. While the rugged yet picturesque terrain was a chic spot for nature
    lovers, it is fast becoming a tourist hotspot for adventure enthusiasts as well. The trekking adventures which makes
    Skandagiri Hills extremely exciting are now also done after the night sets in. Owing to the simple and well
    organised trails, a Skandagiri trek is ideal for first-timers.Get ready for adrenaline boost while covering the 10
    km sunrise trek. The trek begins after 10 pm when night has fallen. This moderately difficult trek can be taken up
    by any individual. After reaching the Papagani Temple, tourists might find the trek to be tiring as the steep
    terrain begins from here. However, climbing up and witnessing the first light from above the hills is the major
    driving force which doesn’t let the enthusiasts stop. While trekking up one will also come across remains Tipu
    Sultan’s fortress.


</p>

<table>
    <tr>
        <td>
            <div class="img2">
                <img src="../../../assets/skand1.jpg" alt="" height="500px" width="600px">
            </div>

        </td>
        <td id="pad">
            <p>
                After completing the 10 km Skandagiri Hills trekking, one can rest around the bonfire set at the top and
                indulge in
                some eatables which they might have carried with themselves. If there is much time for sunrise when can
                repose in
                their sleeping bags. Wake up to the most exquisite sunrise, and capture the sight of the the first light
                touching
                the hills above the misty clouds. This charming scenery of Skandagiri Hills leaves a lasting impression
                on every
                tourist.
                There are old ruins of the fortress of Tipu Sultan and dilapidated ancient fort ruins. That adds a
                haunting appeal to this trek. Skandagiri hill which overlooks Nandi Hills is also known as Kalwarbetta
                or Kalavara Durga. Walking among clouds here is an experience to relish. At night, you can enjoy a
                bonfire and camp under the sky and marvel at the unparalleled view of the morning sun.   
            </p> 
                <h2>BEST TIME TO VISIT</h2>  
                <p>
                    Anytime is a good time for this trek. Winter, that is from November to January, is usually considered the best time to
                    go on this trek. On a winter’s night, nothing quite beats the stargazing after a difficult climb and in monsoons, the
                    flora and fauna provide a fresh appeal to the trek. Summer trek to Skandagiri is doable if you have the stamina to
                    withstand the treacherous summer heat of South India.
                </p>       
            
        </td>
    </tr>
</table>
<br>




<p>
    Quick Facts:
    <br>
    Location: Chikkaballapura, Karnataka
    <br>
    Starting Point: Kalwara Village
    <br>
    End Point: Skandagiri Hilltop
    <br>
    Altitude: Approximately 1350 metres
    <br>
    Trek Time: 5 hours
    <br>
    Distance: 8kms
    <br>
    Difficulty Level: Easy to moderate
    <br>
    Starting time: 4:00 AM
</p>

<div style="text-align: center;">
    <p>
        The way to catch up the blissful view of a sunrise from Skandagiri:
    </p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15523.527178153627!2d77.68114557788103!3d13.419643099007748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb1e58eb79d131d%3A0x47855ba6838608c4!2sSkandagiri%20Hills!5e0!3m2!1sen!2sin!4v1594110148066!5m2!1sen!2sin"
        width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<br>
<br>

<div  class="cmp" style="text-align: right;">
    <h3 style="padding-right: 160px;font-family: 'Galada', cursive;font-size: 36px;"> <i class="fa fa-star-half-o" aria-hidden="true"></i>The Shooting Star</h3>
    <p style="font-family: 'Merienda One', cursive;"> -Just a guy who travels and shares his experience</p>
</div>
</div>