
<h1> About Me</h1>

<p>
    Hello, My name is Sourabh Sajjan. I'd describe myself as a Tech-geek,an Amateur Developer, Digital nomad, Gamer,Traveller,Foodie and also a Formula1 fanatic.
</p>
<!-- <div style="text-align: center;">
    <img src="../../assets/r3.jpeg" alt="" height="500px">
</div> -->

    <h3>What do I do?</h3>
    I'm 22 years old, and right now I'm in my final semester of Engineering from Dayananda Sagar College of Engineering,Bangalore.

    <br>
    <br>

    Other than being a Engineer, I love to explore places especially the Hillstations and Waterbodies.
<br>
<br>

    I have been part of Bangalore since 2012, after travelling across cities of North-India and few cities of the North-Karnataka due to my dad's job and his transfers.
    I got to explore various cultures and places around India.

  <br>
  <br>

    The best thing about Bangalore is no doubtedly the Weather. Also we can't argue about the great Infrastructure of the city.
<br> 
<br>

    During my initial years of my Engineering, I travelled across various places in-and-around Bangalore.
     It'd be a weekend ride or a 2 day get-away from the city.
<br>
<br>

    Also I love to taste various cuisines, and my most favorite one would be the Italian and the Middle-East cuisine. 
    <br>
    <br>
<h3 style="text-align: center;"> My Experience in Bangalore</h3>

<div>
    <h3>1. Waterbodies</h3>
    <p>
        The best part about travelling to waterbodies would be the journey and the scenic view from the place.
    </p>
</div>
<div style="text-align: center;">
    <img src="../../assets/manchmine.jpeg" alt="" height="500px">
</div>
<br>
<div>
    <h3>2. Hillstations</h3>
    <p>
        The journey to the hillstations are the most blissful the curvey roads, weather and also the pit stops for those 
        steaming hot tea with the friends are the most memorable ones for me.

    </p>
</div>
<div style="text-align: center;">
    <img src="../../assets/r3.jpeg" alt="" height="500px">
</div>

<br>
<p>There's more coming soon!</p>



