<h1>NANDI HILLS: WHERE THE HEAVEN MEETS EARTH</h1>
<br>
<table>
    <tr>
        <td>
            <img src="../../../assets/nandi5.jpg" alt="Nandi Image" style="height: 400px;padding-right: 5px;">
        </td>
        <br>
        <td>
            <img src="../../../assets/NANDI-HILLS5.jpg" alt="" style="height: 400px;padding-left: 20px;">
        </td>
    </tr>
</table>


<br>

<table>
    <tr>

        <td>
            <p> "Nandi Hills" the first thought came to every Banglaorian and all other people's mind if they planning
                some random trip, so it was after a day of when I got my Driving License and had jsut finished my exams, so
                called the two of my friends and decided to visit Nandi Hills.

                We got up and got ready early morning,we started our journey at 5:30AM from VijayaNagar Bangalore. At
                early morning, you can reach your destination
                pretty fast with minimalist traffic. it takes 1.5 hrs to 2 hrs depending on the traffic to reach Nandi
                Hills, Once we turned in to the Nandi Hills road from the National Highway, the experience was really
                awesome. On the way to the hill top, we stopped and had tea, you will feel amazing having the cup of tea
                on cloudy day with fresh air and beautiful morning.
            </p>
        </td>

    </tr>
    <tr>
        <td>
            <p>

               On the way, you should focus on the scenic road, the way is not the fastest way but it has beautiful
                scenery. To enter the top most part of nandi hills, we need to enter through the gate which opens at 6AM. We entered and directly went to
                view point.
                Sunrise View Point:

                You get the best view of sunrise from this point. It was rainy season so cloud condensation brings water
                with it, it feels like we were on top of cloud. Weather was too cold, temperature was near about 15*C.
                Although we din't get ro see the sunrise, as it was hidden somewhere in cloud.

                After capturing nice view, we went to have breakfast. You will find restaurants with nice taste.

                If you decide to go up on a weekend, you will see a lot of people like you i.e. 
                the college going people and working bachelors as the major strength.

            </p>
        </td>
    </tr>


</table>


<div>
    <p>
        You can take up this route to reach up the destination.
        <br>
        P.S. Please visit the hills early morning and enjoy the view. 
        Be safe and Happy Travelling.
       
    </p>
</div>

<div style="text-align: center;"> 
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31051.799809027027!2d77.65150721053439!3d13.382889397556236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb1e445ebfcea17%3A0x1639f72959196608!2sNandi%20Hills%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1594109135950!5m2!1sen!2sin"
        width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<br>    
<br>


<div  class="cmp" style="text-align: right;">
    <h3 style="padding-right: 160px;font-family: 'Galada', cursive;font-size: 36px;"> <i class="fa fa-star-half-o" aria-hidden="true"></i>The Shooting Star</h3>
    <p style="font-family: 'Merienda One', cursive;"> -Just a guy who travels and shares his experience</p>
</div>