<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Merienda+One&family=Overpass:wght@300&family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="whole">
      <div class="wall">
      <nav class="navbar navbar-expand navbar-info navbar-dark ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" style="font-family: 'Galada', cursive;font-size: 36px;"> <i class="fa fa-star-half-o" aria-hidden="true"></i>The Shooting Star 
          </a>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.instagram.com/sourabhbs/" target="blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/Sourabhbasavaraj20" target="blank"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item3">
                      <a class="nav-link" href="https://www.linkedin.com/in/sourabh-sajjan/" target="blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
                  </li>
              </ul>
          </div>
      </nav>    
      
      <div class="heading" style="font-family: 'Merienda One', cursive;">
        <h2 id="subhead">
          My Journey in the "SILICON VALLEY"
        </h2>

        <h3 id="ssubhead">          
        Read My Experience & Choose Your Next Weekend GetAway
        </h3>
        <br> <br>  <br>                    <br>          <br>       <br> <br>  <br> <br>       <br>

      </div>
    </div>  
    

    <div class="mdivison">
      <div class="division">
        <div class="menu">
          <table>
            <tr>
              <td >
                <a [routerLink]="['/home']" >
                  <div class="top">
                    <h4 class="btn btn-dark btn-custom">Home</h4>
                  </div>
                 
                </a> 
              </td>
            </tr>
            <tr>
              <td>
              
                <div class="dropdown">
                  <button class="dropbtn">
                    <a [routerLink]="['/hillstation']">
                      <h4 class="btn btn-dark btn-custom" > Mountains <span>  </span> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> </h4> 
                    </a>
                  </button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/hillstation/nandihills']"><h6>Nandi Hills</h6> </a>
                    <a [routerLink]="['/hillstation/skandagiri']"> <h6> Skandagiri Hills</h6></a>
                   
                  </div>
                </div>
              
            
              </td>
            </tr>
            <tr>
              <td>
              
              </td>
            </tr>
            <tr>
              <td>
                <div class="dropdown">
                  <button class="dropbtn"> <a [routerLink] = "['/dams']"><h4 class="btn btn-dark btn-custom ">Waterbodies <span>  </span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> </a> </button>
                  <div class="dropdown-content">
                    <a [routerLink]="['/dams/dd']"><h6>Dandaginahalli Dam</h6> </a>
                    <a [routerLink]="['/dams/makali']"><h6> Manchanabele Dam </h6></a>
                   
                  </div>
                  </div>
                  <div>
                    
                  </div>
                  <a [routerLink]="['/about']"> <h4 class="btn btn-dark btn-custom">About</h4> </a> 
              </td>
            </tr>
          </table>         
        </div>

          <div class="main">  
            <router-outlet></router-outlet>
          </div>
          <div class="footer">

            <table>
              <tr>
                <td>
                  <div class="num" >
                    <p style="text-align: left;">
                      <i class="fa fa-phone-square" aria-hidden="true" ></i> 1800 123 5555
                     </p>
                  </div>
                </td>
                <td>
                  <div class="mail">
                    <p>
                      <i class="fa fa-envelope" aria-hidden="true"></i> sourabhbasavaraj20@gmail.com
                     </p> 
                   </div>
                </td>
              </tr>
              <tr>
                <td>
                 
                </td>
              </tr>
            </table>

          
            <p style="text-align: center;">
              The Shooting Star
              <br>
              All rights reserved © 2020
            </p>
           </div>  
        </div>
      </div>
    </div>


 
  </body>
</html>