.head{
    text-align: center;
}


#pad{
    padding-bottom: 140px;
}

.img2{
    padding-right: 20px;
}

.cmp{
    background-color: #9A0000;
    color: black;
    border: 2px solid black;
    margin-left: 750px;
    margin-bottom: 10px;
}