<h1  > Manchanabele – A Picturesque Village Near Bengaluru</h1>
<br>
<div class="head">
    <img src="../../../assets/manhead.jpg" alt="" height="400px" width="95%">
</div>
<br>
<p>
    Manchanabele is a quaint village, located in Ramanagara District, which is 40 km away from Bengaluru. Known for
    being a
    nature lover’s paradise, this beautiful place is a welcome change from the hustle and bustle of the city.
</p>
<table>
    <tr>
        <td class="img2">
            <img src="../../../assets/manc1.jpg" alt="">
        </td>
        <td id="pad">
            <p>
              
                One of the most famous attractions here is the Manchanabele Reservoir. Built on the Arkavathi river to
                irrigate nearby farms, this massive dam offers a serene view of the lush greenery around and
                crystal-clear water.

                Initially tourists were allowed to visit the dam, however, due to accidents in the area, now visitors
                are not allowed to go till the reservoir. You can view the dam from the nearby hilltops and click some
                amazing shots of the breathtaking views.

                If you want to relax with family and friends, this place makes an ideal picnic spot. For those who love
                adventure, there are resorts around the small hilltops that offer trekking, mountain climbing, kayaking,
                canoe rides, rappelling, and other activities. Manchanabele Dam is also home to a variety of flora and
                fauna, making the place a treat for bird watchers.

                The best time to visit the dam would be from October to March. That’s the apt time when the dam will be
                filled with water and the weather is pleasant.
            </p>
        </td>
    </tr>
</table>
<br>

<div style="text-align: center;">
    <h2>The way to the refreshing waterbody:</h2>
</div>

<div style="text-align: center;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31113.740138409416!2d77.30939437149438!3d12.893730268038166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae37b2d512f49b%3A0xf4d9a7b5d80b3a14!2sManchanabele%20Dam!5e0!3m2!1sen!2sin!4v1594115458426!5m2!1sen!2sin"
        width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<br>

<div class="cmp" style="text-align: right;">
    <h3 style="padding-right: 120px;font-family: 'Galada', cursive;font-size: 36px;"><i class="fa fa-star-half-o" aria-hidden="true"></i> The Shooting Star</h3>
    <p style="font-family: 'Merienda One', cursive;"> -Just a guy who travels and shares his experience</p>
</div>