<h1>The Waterbodies Near Bangalore</h1>
<p>
    Hill stations, beaches, temples, etc. are the usual choices for a getaway. The reservoirs and backwaters are also
    interesting to visit. These famous dams offer an offbeat travel option. Big gates, water gushing with tremendous force
    and the amazing backwaters provide a scenic view. Some reservoirs have facilities like coracle ride, boating, wildlife
    travel and so on. Let us go around some picturesque dams near Bangalore! 

</p>
<div style="text-align: center;">
    <img src="../../assets/dam1.jpg" alt="">
</div>


<h3>Here are such destinations:</h3> 
 <p>1. <a [routerLink]="['/dams/dd']">Dandiganahalli Dam</a> </p>
 <p>2. <a [routerLink]="['dams//makali']">Mancenbelle Dam</a> </p>