<h1> The Unspoilt Dandiganahalli Dam Just 90 Minutes From Bangalore</h1>
<br>

<div class="head">
    <img src="../../../assets/ddhead.jpg" alt="">
</div>
<br>

<p>
    For those of you have already checked off all the popular road trip destinations around Bangalore and are in search for
    a new, undiscovered location — Dandiganahalli Dam is waiting! Unknown to most, this pretty spot sits just around 90
    minutes away from the city and is a must visit. You’ll have to make your way across the highway (easy peasy) and then
    navigate a few villages and muddy roads (not-so easy peasy) to get to this small reservoir that’s surrounded by rocky,
    green hills.
    Follow Google Maps and it will bring you right to the banks of the serene waters. There’s a long bridge that runs right
    into the waters and you can reach its edge to take some spectacular pictures. Wading the waters though is highly
    dangerous and not recommended at all.

</p>

<table>
    <tr>
        <td class="img2">
            <img src="../../../assets/dd1.jpg" alt="" height="500px" width="600px">
        </td>
        <td id="pad">
            <p>
                Situated 100 km from Bengaluru towards Chikkaballapur. After Chikkaballapur takes a left, and keep going around 35 km to
                reach Dandiganahalli dam. On the way, you find many small villages where you can ask the way also google maps can help
                you. There was no restriction and we were freely allowed to walk on the dam, Maybe because the reservoir was not full
                but had a decent amount of water. Dam is covered with mountains and at the end of the dam gate, you find a village too.
                One more new weekend gateway away from hustle bustle Bangalore life. Better to spend the weekend with nature instead of
                with concrete forest!! overall it was very good weather and ride. There are 2 hills which can be trekked. There is no
                trekking to be done to the dam. The dam is the main source of water to nearby villages. There are 2 home-stays around
                the dam. Which offers a few days and night packages. The dam can be reached by both 2 Wheeler's and 4 Wheeler's.                
                Dandiganahalli Dam is perfect for a short outing. You can swing by and hone your photography/selfie skills (whichever
                you prefer). The place is also great for spotting colourful birds and you can also trek around the nearby hills.
                However, you’ll have to carry your own food and water since there’s not much around here. If you are bringing a picnic
                basket make sure you don’t litter since there’s no one to clean up after you.
            </p>
        </td>
    </tr>
</table>
<br>

<div>
    <h2 style="text-align: center;">
        The way to the waterbody:
    </h2>
</div>
<div style="text-align: center;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.4301039420197!2d77.65598391482781!3d13.509176190504771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb1eeabed94e8b7%3A0x57dc224e8eabe9e0!2sDandiganahalli%20Dam!5e0!3m2!1sen!2sin!4v1594114458422!5m2!1sen!2sin"
        width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>
<br>

<div class="cmp" style="text-align: right;">
    <h3 style="padding-right: 120px;font-family: 'Galada', cursive;font-size: 36px;"> <i class="fa fa-star-half-o" aria-hidden="true"></i>The Shooting Star</h3>
    <p style="font-family: 'Merienda One', cursive;"> -Just a guy who travels and shares his experience</p>
</div>
